/* body>div {
      width: 550px;
      height: 520px;
      display: flex;
      margin: 20px auto;
    } */

:root {
    background-color: black;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

nav ul li {
    display: inline;
    list-style: none;
    padding-right: 20px;
    margin: 0px;
}

nav {
    background-color: #black;
    padding: 5px 10px;
    margin-bottom: 100px;
    border: 1px solid white;
}

nav ul li a {
    color: #1a95e0;
    font-size: 20px;
    text-decoration-color: white;
    text-decoration: none;
}

.container {
    width: 220px;
    height: 500px;
    border: 1px solid rgba(233, 246, 246, 0.918);
    margin-top: 20px;
    margin-right: 120px;
}

h2 {
    text-align: center;
    font-size: 26px;
    color: #1a95e0;
    margin-bottom: 2px;
}

.content {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.game {
    position: relative;
    width: 456px;
    height: 500px;
    border: 1px solid white;
    margin: 20px auto 0;
}

.brick {
    position: absolute;
    width: 50px;
    height: 20px;
    background-image: image("/static/img/bart.png");
    /* background-color: rgb(238, 17, 28); */
}

/* 画挡板 */
.flap {
    position: absolute;
    width: 120px;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: #1a95e0;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: 52px;
    border-radius: 50%;
    /* background-color: yellow; */
    /* background-image: url("/static/img/bart.jpg"); */
}

#score {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    right: 0;
    top: 10%;
    color: white;
}


#Instruction {
    width: 100px;
    height: 30px;
    right: 0;
    top: 10%;
    color: white;
    font-weight: bold;
}


#start {
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    padding: .55em 2em;
    font-size: 1em;
    font-family: var(--font-stack);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 180px;
    font: Lucida Console;
    font-weight: bold;
}


#reset {
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    padding: .55em 2em;
    font-size: 1em;
    font-family: var(--font-stack);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 180px;
    font: Lucida Console;
    font-weight: bold;
}