{% extends 'base.html' %}

{% block title %}
    Tracker - Login
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <div>
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-default">Login</button>
                </form>
            </div>
        </fieldset>
    </main>
{% endblock content %}
