{% extends 'base.html' %} {% block title %} Create a task {% endblock title %}
{% block content %}
<main>
  <fieldset>
    <div class="task-form">
      <h1>Create a new task</h1>
      <form class="form-group" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-default">Create</button>
      </form>
    </div>
  </fieldset>
</main>
{% endblock content %}
