{% extends 'base.html' %}

{% block title %}
    Create Project
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <div class="form-group">
                <h1>Create a new project</h1>
                <form class="form-group" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-default">Create</button>
                </form>
            </div>
        </fieldset>
    </main>
{% endblock content %}
