{% extends 'gamebase.html' %}


{% block title %}Game{% endblock title %}


{% block content %}
<main>
    <div class="content">
        <div class="game"></div>
        <div class="container">
          <h2>Head Breaker</h2>
          <hr />
          <center>
            <button id="start">Start Game</button>
          </center>
          <div style="width: 219px;border: 1px solid rgba(145, 146, 146, 0.918);"></div>
          <center>
            <button id="reset">Try Again</button>
          </center>
          <center>
            <div id="score"></div>
          </center>
          <center>
            <div id="Instruction">
                <p>Instructions:</p>
                <p>Press A to shift to left<p>
                <p>Press D to shift to right</p>
            </div>
          </center>
        </div>

      </div>
      <script type="text/javascript">
        window.onload = init;
        function init() {
        let gameArea = document.getElementsByClassName("game")[0];
        let rows = 10;
        let cols = 8;
        let b_width = 58;
        let b_height = 28;
        let bricks = [];
        let speedX = 5;
        let speedY = -5;
        let interId = null;
        let lf = 0;
        let tp = 0;
        let flap;
        let ball;
        let n = 0;
        let st = document.getElementById("start");
        let rt = document.getElementById("reset");
        let score = document.getElementById("score");
        score.innerHTML = "Score：" + n;
        renderDom();
        bindDom();
        function renderDom() {
            getBrick();
            function getBrick() {
            for (let i = 0; i < rows; i++) {
                let tp = i * b_height;
                let brick = null;
                for (let j = 0; j < cols; j++) {
                let lf = j * b_width;
                brick = document.createElement("div");
                brick.className = "brick";
                brick.setAttribute("style", "top:" + tp + "px;left:" + lf + "px;");
                brick.style.backgroundColor = getColor();
                bricks.push(brick);
                gameArea.appendChild(brick);
                }
            }
            }
            flap = document.createElement("div");
            flap.className = "flap";
            gameArea.appendChild(flap);
            ball = document.createElement("img");
            var myArray = [
                    "/static/img/terra.png",
                    "/static/img/jay.png",
                    "/static/img/bart.png"
                    ];

            var randomItem = myArray[Math.floor(Math.random()*myArray.length)];
            ball.src = randomItem
            ball.className = 'ball'
            gameArea.appendChild(ball);
        }
        function bindDom() {
            flap = document.getElementsByClassName("flap")[0];
            window.onkeydown = function (e) {
            let ev = e || window.event;
            let lf = null;
            if (e.keyCode == 65) {
                lf = flap.offsetLeft - 32;
                if (lf < 0) {
                lf = 0;
                }
                flap.style.left = lf + "px";
            } else if (e.keyCode == 68) {
                lf = flap.offsetLeft + 32;
                if (lf >= gameArea.offsetWidth - flap.offsetWidth) {
                lf = gameArea.offsetWidth - flap.offsetWidth
                }
                flap.style.left = lf + "px";
            }
            }
            st.onclick = function () {
            ballMove();
            st.onclick = null;
            }
            rt.onclick = function () {
            window.location.reload();
            }
        }
        function getColor() {
            let r = Math.floor(Math.random() * 256);
            let g = Math.floor(Math.random() * 256);
            let b = Math.floor(Math.random() * 256);
            return "rgb(" + r + "," + g + "," + b + ")";
        }
        function ballMove() {
            ball = document.getElementsByClassName("ball")[0];
            interId = setInterval(function () {
            lf = ball.offsetLeft + speedX;
            tp = ball.offsetTop + speedY;
            for (let i = 0; i < bricks.length; i++) {
                let bk = bricks[i];
                if ((lf + ball.offsetWidth / 2) >= bk.offsetLeft && (lf + ball.offsetWidth / 2) <= (bk.offsetLeft + bk.offsetWidth) && (bk.offsetTop + bk.offsetHeight) >= ball.offsetTop) {
                bk.style.display = "none";
                speedY = 5;
                n++;
                score.innerHTML = "Score:" + n;
                }
            }

            if (lf < 0) {
                speedX = -speedX;
            }
            if (lf >= (gameArea.offsetWidth - ball.offsetWidth)) {
                speedX = -speedX;
            }
            if (tp <= 0) {
                speedY = 5;
            } else if ((ball.offsetTop + ball.offsetHeight) >= flap.offsetTop && (ball.offsetLeft + ball.offsetWidth / 2) >= flap.offsetLeft && (ball.offsetLeft + ball.offsetWidth / 2) <= (flap.offsetLeft + flap.offsetWidth)) {
                speedY = -5;
            } else if (ball.offsetTop >= flap.offsetTop) {
                gameOver();
            }
            ball.style.left = lf + 'px';
            ball.style.top = tp + "px";
            }, 40)
        }

        function gameOver() {
            alert("GameOver!" + "\n" + score.innerHTML);
            clearInterval(interId);
        }
        }
      </script>
</main>
{% endblock content %}
